<!DOCTYPE html>
<html>
<head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KKDD8KZG8F"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KKDD8KZG8F');
</script>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CollectorsBoard | Profile</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">


    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap-5.0.2-dist/css/bootstrap.min.css') }}">

    <script src="{{ url_for('static',filename='bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js') }}"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='profile.js') }}"></script>
        <script src="{{ url_for('static',filename='scrollingSystems.js') }}"></script>
        <script src="{{ url_for('static',filename='comments.js') }}"></script>
        <script src="{{ url_for('static',filename='post_block.js') }}"></script>




    <style>
    body {
        background-color: #2c3034;
    }

    .nav-link.active {
        background-color: #2c3034 !important;
        border: 0 !important;
    }

    #myTab {
        top:62px;
        z-index:1

    }

    .tab-pane{
        height: calc(100vh - 200px);
        overflow-y:auto; width:100%;
        scrollbar-width: none;
    }

    .tab-pane::-webkit-scrollbar {
        display: none;
    }
    </style>

    
</head>
<body>


    

  {% from 'macros.html' import navbar_block %}
  {{ navbar_block() }}

          
          
         <div class="container">
            <div class=" custom-class row mx-auto col-x col-md-8 col-lg-5 align-items-center ">



                <div id='navmenu' class="" >

                  {% from 'macros.html' import viewusercard %}
                  {{ viewusercard(session['username'])}}
                    <hr style="color:white"/>




                    
                    <div class="dropdown w-100 mb-3 ">
                      <button class="btn btn-secondary dropdown-toggle bg-transparent w-50 float-start mb-2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Posts
                      </button>
                      <ul class="dropdown-menu bg-dark w-100" aria-labelledby="dropdownMenuButton1">
                            <li><button id="buttonForYouHome" class="btn btn-dark w-100 text-start" onclick="closeAll('#collapseForYou')" type="button" data-bs-toggle="collapse" data-bs-target="#collapseForYou" aria-expanded="true" aria-controls="collapseForYou">
                                Posts
                            </button></li>

                          <li><button id="buttonForYouCollections" class="btn btn-dark w-100 text-start" onclick="closeAll('#collapseForYouCollections')" type="button" data-bs-toggle="collapse" data-bs-target="#collapseForYouCollections" aria-expanded="false" aria-controls="collapseForYouCollections">
                                Personal
                            </button></li>

                            <li><button id="buttonForYouPopular" class="btn btn-dark w-100 text-start" onclick="closeAll('#collapseForYouPopular')" type="button" data-bs-toggle="collapse" data-bs-target="#collapseForYouPopular" aria-expanded="false" aria-controls="collapseForYouPopular">
                                Collections
                            </button></li>

                          <li><button id="buttonForYouCommunities" class="btn btn-dark w-100 text-start" onclick="closeAll('#collapseForYouCommunities')" type="button" data-bs-toggle="collapse" data-bs-target="#collapseForYouCommunities" aria-expanded="false" aria-controls="collapseForYouCommunities">
                                Socials
                            </button></li>

                          <li><button id="buttonYourStuff" class="btn btn-dark w-100 text-start" onclick="closeAll('#collapseYourStuff')" type="button" data-bs-toggle="collapse" data-bs-target="#collapseYourStuff" aria-expanded="false" aria-controls="collapseYourStuff">
                                Saved
                            </button></li>
                      </ul>
                    </div>

                <div class="collapse show tab-pane" id="collapseForYou">

                  <div class="card card-body bg-transparent border-0 text-white">

                      <div id="post_list">
                          


                          </div>
                          <button id="observerProfileAllPosts" class="btn btn-dark w-100 mt-4 mb-5" type="button" disabled>
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            Loading
                          </button>
                  </div>
                </div>

                <div class="collapse tab-pane" id="collapseForYouPopular">
                  <div class="card card-body bg-transparent border-0 text-white">



                      {% for collection in  get_user_collections(session['username'])  %}



                      {% from 'macros.html' import collection_card %}
                      {{ collection_card(collection) }}
                    {%endfor%}
                  <button id="observerProfileAllPosts" class="btn btn-dark w-100 mt-4 mb-5" type="button" disabled>
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            No More :(
                          </button>


                  </div>
                </div>

                <div class="collapse tab-pane" id="collapseForYouCollections">
                  <div class="card card-body  bg-transparent border-0 text-white">

                    <button class="btn btn-primary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      Account & Personal
                    </button>

                    <div class="collapse bg-dark text-white" id="collapseExample">
                      <div class="card card-body bg-dark text-white">

                        <div class="mb-3 text-white">
                          <p>
                                <button class="btn btn-primary w-100 mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAvator" aria-expanded="false" aria-controls="collapseAvator">
                                  Choose Your Avatar
                                </button>
                              </p>
                              <div class="collapse bg-dark text-white" id="collapseAvator">
                                <div class="card card-body  bg-dark text-white">
  
                                    <div class="btn-group">
                                        {% for item in get_avatars() %}
                                          <button onclick="changeAvatar('{{ item }}')" type="button" class="btn btn-outline-primary">
                                            <img style="width: 86px;" class="rounded-circle shadow-4-strong" alt="avatar2" src="{{ item }}" />
  
                                          </button>
                                        {% endfor %}
                                      </div>
  
                                </div>
                              </div>
  
                            <form method="post" action="/profile">
                              <label for="exampleInputPassword1" class="form-label" >Change Username</label>
  
                              <input value="{{session['username']}}" name="new_username" class="form-control bg-dark text-gray" id="exampleInputPassword1" disabled>
  
                              <label for="exampleInputPassword1" class="form-label">Current Password</label>
                              <input name="current_password" class="form-control bg-dark text-white" id="exampleInputPassword1" aria-describedby="emailHelp" disabled>
  
                              <button name="change_username" type="submit" class="btn btn-primary w-100 mt-2" disabled>Update (in development)</button>
                            </form>

                            <form method="post" action="/profile">
                              <label class="mb-3">Change Bio</label>
                              <input placeholder="New Bio" name="new_bio" class="form-control bg-dark text-white" id="exampleInputPassword1" aria-describedby="emailHelp">
                              <button name="change_bio" type="submit" class="btn btn-primary w-100 mt-2">Update</button>
                            </form>
  
                              <hr>
  
                              {% if is_account_public(session['username']) %}
  
                            <form method="post" action="/profile"><button  name="private_profile" type="submit" class="btn btn-primary w-100">Make Profile Private</button></form>
  
                            {% else %}
  
                            <form method="post" action="/profile"><button name="public_profile" type="submit" class="btn btn-primary w-100">Make Profile Public</button></form>
  
                            {%endif%}
  
                          <hr>



                      </div>
                    </div>
                  </div>
                  
                  <hr>

                <button class="btn btn-primary mt-2 mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExampleSecurity" aria-expanded="false" aria-controls="collapseExampleSecurity">
                  Security
                </button>

                <div class="collapse bg-dark text-white" id="collapseExampleSecurity">
                  <div class="card card-body bg-dark text-white">
                    <form method="post" action="/profile">
                      <label for="exampleInputPassword1" class="form-label">Change Password</label>
                      <input placeholder="New Password" name="new_password" class="form-control bg-dark text-white" id="exampleInputPassword1" aria-describedby="emailHelp">

                      <label for="exampleInputPassword1" class="form-label">Current Password</label>
                      <input placeholder="Old Password" name="current_password" class="form-control bg-dark text-white" id="exampleInputPassword1" aria-describedby="emailHelp">

                      <button name="change_password" type="submit" class="btn btn-primary w-100 mt-2">Update</button>
                    </form>

                <hr>
                  </div>
                </div>

                  

                          



                        </div>
                  </div>
                </div>

                <div class="collapse tab-pane" id="collapseForYouCommunities">
                  <div class="card card-body  bg-transparent border-0 text-white">

                       <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                              <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Followers</button>
                              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Following</button>
                                  <button class="nav-link" id="nav-community-tab" data-bs-toggle="tab" data-bs-target="#nav-community" type="button" role="tab" aria-controls="nav-community" aria-selected="false">Communities</button>

                            </div>
                          </nav>

                          <div class="tab-content" id="nav-tabContent">

                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">




                                <div id="followers">

                                {% for follower in get_follow_requests(session['username']) %}

                                  <div class="card-body" style="margin-top: 30px;" id="request_{{follower[0]}}">
                                    <ul class="list-group list-group-horizontal w-100">
                                      <li class="list-group-item w-25 bg-dark text-white"><img style="width: 40px;" class="rounded-circle shadow-4-strong" alt="avatar2" src='{{ get_user_avatar(follower[5]) }}' /></li>
                                      <li class="list-group-item w-50 bg-dark text-white">{{follower[0]}}</li>
                                      <li class="list-group-item w-50 bg-dark text-white"><form action="/viewuser/{{follower[0]}}"><button class="btn btn-dark h-100 rounded-0" type="submit" class="w-100 h-100">View</button></form></li></li>

                                      <li class="list-group-item w-50 bg-dark text-white"><button onclick='acceptRequest("{{follower[0]}}")'  class="btn btn-dark h-100 rounded-0 " type="submit" class="w-100 h-100">


                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-all" viewBox="0 0 16 16">
                                          <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"/>
                                          <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z"/>
                                        </svg>

                                      </button></li>


                                      <li class="list-group-item w-50 bg-dark text-white"><button onclick='declineRequest("{{follower[0]}}")'  class="btn btn-dark h-100 rounded-0" type="submit" class="w-100 h-100">

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                        </svg>

                                      </button></li>


                                    </ul>
                                  </div>
                                    {% endfor %}
                                </div>




                                {% for follower in get_followers(session['username']) %}

                                  <div id="follower_{{follower[0]}}" class="card-body" style="margin-top: 30px;">
                                    <ul class="list-group list-group-horizontal w-100">
                                      <li class="list-group-item w-25 bg-dark text-white"><img style="width: 40px;" class="rounded-circle shadow-4-strong" alt='{{ get_user_avatar(follower[5]) }}' src="{{ get_user_avatar(follower[0]) }}" /></li>

                                        <li class="list-group-item w-75 bg-dark text-white">
                                          <a  class="card-subtitle mb-2 text-muted" href="/viewuser/{{follower[0]}}">{{ follower[0] }}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                            </svg>

                                          </a>
                                        </li>

                                     <li class="list-group-item w-50 bg-dark text-white"><button onclick='deleteFollower("{{follower[0]}}")' class="btn btn-dark h-100" type="submit" class="w-100 h-100">

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                        </svg>

                                      </button></li>
                                    </ul>
                                  </div>


                                {%endfor%}


                        </div>

                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            {% for follower in get_following(session['username']) %}



                               <div id="following_{{follower[0]}}" class="card-body" style="margin-top: 30px;">
                                    <ul class="list-group list-group-horizontal h-50 w-100">
                                      <li class="list-group-item w-25 bg-dark text-white"><img style="width: 40px;" class="rounded-circle shadow-4-strong" alt="{{ get_user_avatar(follower[1]) }}" src="{{ get_user_avatar(follower[1]) }}" /></li>
                                        <li class="list-group-item w-75 bg-dark text-white">
                                          <a  class="card-subtitle mb-2 text-muted" href="/viewuser/{{follower[1]}}">{{ follower[1] }}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                            </svg>

                                          </a>
                                        </li>
                                     <li class="list-group-item w-50 bg-dark text-white"><button onclick='deleteFollowing("{{follower[0]}}")' class="btn btn-dark h-100" type="submit" class="w-100 h-100">

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                        </svg>

                                      </button></li>
                                    </ul>
                                  </div>


                            {%endfor%}


                            </div>

                              <div class="tab-pane fade" id="nav-community" role="tabpanel" aria-labelledby="nav-community-tab">

                                  {% for community in get_followed_communties(session['username']) %}


                               <div id="community_follower" class="card-body bg-dark" style="margin-top: 30px;">
                                    <a class=" btn btn-dark mx-0 text-decoration-underline" href="/community/{{community}}">{{ community }}</a>
                                  </div>


                            {%endfor%}

                              </div>


                          </div>





                  </div>
                </div>


                    <div class="collapse tab-pane" id="collapseYourStuff">

                      <div class="card card-body bg-transparent border-0 text-white">

                          <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                              <button class="nav-link active" id="nav-posts-tab" data-bs-toggle="tab" data-bs-target="#nav-posts" type="button" role="tab" aria-controls="nav-posts" aria-selected="true">posts</button>
                              <button class="nav-link" id="nav-collectionss-tab" data-bs-toggle="tab" data-bs-target="#nav-collectionss" type="button" role="tab" aria-controls="nav-collectionss" aria-selected="false">collections</button>
                            </div>
                          </nav>


                          <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-posts" role="tabpanel" aria-labelledby="nav-posts-tab">

                              {% for post in  get_saved_posts(session['username'])  %}

                                  {% from 'macros.html' import post_block %}
                                  {{ post_block(post, 1) }}

                              {%endfor%}
                            </div>

                            <div class="tab-pane fade show" id="nav-collectionss" role="tabpanel" aria-labelledby="nav-collectionss-tab">

                              {% for collection in get_saved_collections(session['username']) %}


                                {% from 'macros.html' import collection_card %}
                                {{ collection_card(collection, session['username'], 1) }}


                              {%endfor%}
                            </div>
                          </div>


                      </div>
                    </div>

                        



                      </div>

                      <style>

                        .float{
                            position:fixed;
                            width:60px;
                            height:60px;
                            bottom:40px;
                            right:40px;
            
                        }
                        
                        .my-float{
                            margin-top:22px;
                        }
            
                    </style>
            
                    {% from 'macros.html' import create_block %}
                                {{ create_block("Choose Community") }}
            
                    <script>
            
                        $(document).ready(function() {
                            $("#select2insidemodalcreate").select2({
                              dropdownParent: $("#createPostModal"),
                              theme: "bootstrap-5"
                              
                            });
                          });
            
                    </script>
            
                      
            
                      <button type="button" class="btn btn-primary float rounded-circle" data-bs-toggle="modal" data-bs-target="#createPostModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                          </svg>
                      </button>
                  </div>
            </div>



</body>
</html>